.App {
    font-family: 'Roboto', sans-serif;

    .Ellipse1 {
        width: 644px;
        height: 644px;
        top: 229px;
        left: -361px;
        gap: 0px;
        opacity: 0px;
        position: absolute;
    }

    .Ellipse2 {
        width: 777px;
        height: 777px;
        top: -264px;
        left: 923px;
        gap: 0px;
        opacity: 0px;
        position: absolute;
    }
}